@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #124559;
  background-image: linear-gradient(180deg, #124559 25%, #aec3b0 100%);
  background-attachment: fixed;
  font-family: "Inter Tight", sans-serif;
}

$gray: #36454f;

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 4rem;
  color: #060607;
}
h2 {
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive;
  color: #eff6e0;
}
p {
  font-size: 1.4rem;
  color: #eff6e0;
}

/* ANIMations*/

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  position: sticky;

  top: 0;
  backdrop-filter: blur(5px);
  height: 8vh;
  background-color: #124559;

  color: $gray;
  z-index: 9999;
  .nav-collapse {
    background-color: #124559;
  }
  .scroll-link {
    text-decoration: none;
    color: #eff6e0;
    margin-left: 2rem;
    cursor: pointer;
  }
  .scroll-link:active {
    text-decoration: none;
  }
  .nav-brand {
    font-family: "Alfa Slab One", cursive;
    font-size: 2rem;
    color: #060607;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-container {
    display: flex;

    .nav-link {
      font-size: 1.2rem;
      font-weight: 500;
      color: #eff6e0;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 92vh;
  gap: 3rem;

  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: $gray;
  .hero-name {
    color: #eff6e0;
    -webkit-animation: fade-in 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  }
  .hero-desc {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 0.6s;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  }
  .btn {
    background-color: transparent;
    color: #060607;
    border-color: #060607;

    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .btn:hover {
    background-color: transparent;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 7rem;
  h2 {
    text-align: center;
  }
  .about-info {
    width: 85vw;
    max-width: 40rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .about-desc {
      text-indent: 1.5rem;
    }
  }

  p {
    font-size: 1.2rem;
  }
}

.projects {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-bottom: 2rem;
  }
  padding-bottom: 5rem;
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    scale: 101%;
  }
  .card {
    background-color: #eff6e0;
    border-radius: 0.8rem;
    transition: all 0.2s ease;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    border: 1px solid $gray;
    .card-title {
      border-bottom: 1px solid #060607;
      margin-bottom: 1rem;
      color: #060607;
    }
    .card-img {
      height: 15rem;
      width: 18rem;
      object-fit: cover;
      border-radius: 0.8rem;
      border: 1px solid transparent;
    }
    .card-desc {
      position: absolute;
      top: 3rem;
      color: transparent;
      text-align: center;
      width: 16rem;
      border-radius: 2rem;
    }
    .card-desc:hover {
      color: white;
      backdrop-filter: blur(8px);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card-btns {
        display: flex;
        gap: 1rem;
        .btn {
          border: 1px solid #124559;
          background-color: transparent;
        }
        a {
          color: #060607;
          text-decoration: none;
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 90vh;
  .contact-form {
    width: 80vw;
    max-width: 30rem;
  }
  .contact-title {
    text-align: center;
  }
  .submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn {
    background-color: transparent;
    color: #eff6e0;
  }
  .btn:hover {
    background-color: transparent;
    color: #eff6e0;
  }
}

.icons {
  display: flex;
  gap: 4rem;
  width: fit-content;
  justify-content: space-evenly;
  padding-bottom: 3rem;

  .social-icon {
    width: 2rem;
    filter: invert(19%) sepia(26%) saturate(1558%) hue-rotate(153deg)
      brightness(100%) contrast(89%);
  }
}
