@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;

  font-family: "Inter Tight", sans-serif;
}

$gray: #6c6f75;
$black: #00000c;
$blue: #0c1c33;
$white: #f9f9f9;
$lightBlue: #8db4ce;

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  color: $white;
}
h2 {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  color: $lightBlue;
}
p {
  font-size: 1.4rem;
  color: #eff6e0;
}

/* ANIMations*/

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.nav {
  background-color: $black;
}
.offcanvas-header {
  background-color: $black;
  .btn-close {
    background-color: white;
  }
}
.offcanvas-body {
  background-color: $black;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;

  gap: 2rem;
  .navbar-nav {
    gap: 3rem;
    width: 100%;
  }
}
.navbar {
  position: sticky;

  top: 0;
  backdrop-filter: blur(5px);
  height: 10vh;
  background-color: #00000c71;

  .navbar-nav {
    background-color: $black;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}
.scroll-link {
  text-decoration: none;
  color: $lightBlue;
  font-size: 1.2rem;
  font-weight: 800;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.4s ease background-size;
  cursor: pointer;
}
.scroll-link:active {
  text-decoration: none;
}
.scroll-link:hover {
  background-size: 100% 0.1em;
  color: $white;
}
.nav-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  color: $gray;
  text-decoration: none;
  transition: all 0.2s ease;
  padding-left: 1rem;
  cursor: pointer;
}
.nav-brand:hover {
  color: $white;
}
.nav-container {
  display: flex;

  .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #eff6e0;
  }
}
.navbar-toggler {
  border: none;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  gap: 2rem;

  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: $gray;
  h1 {
    color: $lightBlue;
  }
  .hero-name {
    color: $white;
    -webkit-animation: fade-in 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    font-size: 4rem;
  }
  .hero-desc {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 0.6s;
    font-size: 2.5rem;
  }
  .btn {
    background-color: transparent;
    color: #060607;
    border-color: #eff6e0;

    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .scroll-link {
    text-decoration: none;
    color: #eff6e0;
  }
  .btn:hover {
    background-color: transparent;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 7rem;
  h2 {
    text-align: center;
  }
  .imdb-link {
    color: #eff6e0;
  }
  .about-info {
    width: 85vw;
    max-width: 40rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .about-desc {
      text-indent: 1.5rem;
    }
  }

  p {
    font-size: 1.2rem;
  }
}

.projects {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-bottom: 2rem;
  }
  padding-bottom: 5rem;
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    scale: 101%;
  }
  .card {
    background-color: $lightBlue;
    border-radius: 0.4rem;
    transition: all 0.2s ease;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    border: 1px solid $gray;
    .card-title {
      border-bottom: 1px solid #060607;
      margin-bottom: 1rem;
      color: $blue;
    }
    .card-img {
      height: 15rem;
      width: 18rem;
      object-fit: cover;
      border-radius: 0.4rem;
      border: 1px solid transparent;
    }
    .card-desc {
      position: absolute;
      top: 3rem;
      color: transparent;
      text-align: center;
      width: 16rem;
      border-radius: 2rem;
    }
    .card-desc:hover {
      color: white;
      backdrop-filter: blur(8px);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card-btns {
        display: flex;
        gap: 1rem;
        .btn {
          border: 1px solid #124559;
          background-color: transparent;
        }
        a {
          color: #060607;
          text-decoration: none;
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 90vh;
  .contact-form {
    width: 80vw;
    max-width: 30rem;
  }
  .contact-title {
    text-align: center;
  }
  .submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn {
    background-color: transparent;
    color: #eff6e0;
  }
  .btn:hover {
    background-color: transparent;
    color: #eff6e0;
  }
}

.icons {
  display: flex;
  gap: 4rem;
  width: fit-content;
  justify-content: space-evenly;
  padding-bottom: 3rem;

  .social-icon {
    width: 2rem;
    filter: invert(72%) sepia(32%) saturate(314%) hue-rotate(161deg)
      brightness(91%) contrast(88%);
  }
}
